.layout-cabecalho {
  height: 100px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
}

.layout-cabecalho--home {
  background-color: #fff;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

.layout-planos {
  padding: 80px 0;
}

@media (max-width: 749px){
.layout-planos .row > div:not(.ultima-coluna) {
  margin-bottom: 40px;
}
}

.layout-chamada {
  padding: 120px 0;

  margin-top: 80px;

  background-color: #1F2044;
}

.layout-como-funciona {
  background-color: #e7e7e7;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #e7e7e7;
}

.layout-rodape {
  padding: 50px 0;
  background-color: #484848;

  color: #fff;

  text-align: center;
}

.layout-assinatura {
  padding: 40px 0;
}